body {
    margin: 0;
    color: rgba(0, 0, 0, 0.8);
    font-family: consolas, courier;
    padding: 10%;
    
}

img {
    width: 100%;
}

article {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

h1,
h2 {
    font-family: 'Lato', sans-serif;
    text-align: center;
}

h1 {
    font-size: 40px;
    margin-top: 80px;
    margin-bottom: 5px;
    background-color: #333333;
}

h2 {
    color: #ff0099;
    font-size: 27px;
    margin-top: 0;
    margin-bottom: 22px;
    font-weight: normal;
}

p {
    font-size: 21px;
    margin-bottom: 29px;
    margin-top: 0;
    line-height: 1.5;
}

a {
    font-weight: bold;
    color: #ff0099;
}
